*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6b6060;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}